
<head runat="server">
    <script src="https://cdn.tiny.cloud/1/b3x5hehyw3vl1r4qic5jp9bh624gkvuzw922n0nesx9jiwn3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({selector:'textarea'});</script>
    </head>
    <div class="jumbotron">
        <h1>Cadastrar paginas</h1>
        <div>
            <a href="/paginas" class="btn btn-default">ir para cadastro de paginas</a>
        </div>
        <form action="/paginas/criar" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="insira o nome">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="data">Data</label>
                <input name="data" type="datetime" class="form-control" id="data" placeholder="dd/mm/yyyy">
            </div>
            <div class="form-check">
                <label for="conteudo">Conteúdo</label>
                <textarea name="conteudo" class="form-control" id="conteudo"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
